.form-control:focus,
.form-select:focus {
    border-color: #068587;
    box-shadow: 0 0 0 0.2rem rgba(6, 133, 135, 0.20);
}

.form-control,
.form-select {
    border: 1.5px solid #068587;
    border-radius: 5px;
}

.info-contacto {
    border: 2px solid #068587;
    border-radius: 8px;
    padding: 1.5rem;
}