/*estilos específicos del index.html*/


/*altura de las imagenes del carrusel*/
.carousel-item img {
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.carousel-indicators {
    display: none;
}

/*hover en las cards*/
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 15px rgba (0, 0, 0, 0.1);
}